/* Nav */
nav {
  margin-bottom: 1rem;
}

nav ul,
nav ol {
  column-gap: 0.5rem;
}

/* Others */
.center {
  text-align: center;
}

[data-tooltip].icon {
  border-bottom: 0;
}

/* Table sorting */
button.sort,
button.sort:focus {
  border: 0;
}

.sort:after {
  content: "\21C5";
}

.sort.desc:after {
  content: "\2191";
}

.sort.asc:after {
  content: "\2193";
}


@media screen and (max-width: 720px) {
  .table-container {
    overflow-x:auto;
  }


  table .title,
  table .journal-col {
    position: sticky;
    left: 0;
    z-index: 2;
  }
}
